---
layout: default
---
<header class="header-main" style="background-image:url('{{ site.baseurl }}/assets/img/hero.jpg')">
  <div class="overlay-light"></div>
  {% include nav.html %}
  <div class="home-title">
      <h1>{{ site.title }}</h1>
      <h3>Web Designer / Developer</h3>
  </div>
  <a href="#blurb" class="home-avatar"></a>
</header>
<!-- about-->
<div class="who-am-i" id="blurb">
  <h2>Who am I?</h2>
  <p>I'm a 24 year old web developer living in Helsinki metropolitan area. Here are some of my works</p>
</div>
<hr>
<!-- recent projects-->
<h2 class="recent-projects">Recent Projects</h2>
<div class="recent-projects-content-wrapper">
  <!-- <div class="project-wrap">
      <div class="project">
        <div class="project-img"></div>
        <a href="#" class="project-text">
          <h4>Project Title</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </a>
      </div>
  </div>
  <div class="project-wrap  project-wrap-reverse">
      <div class="project project">
        <div class="project-img"></div>
        <a href="#" class="project-text">
          <h4>Project Title</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </a>
      </div>
  </div> -->
  <div class="project-wrap">
      <div class="project">
        <div class="project-img project-img-three"></div>
        <a href="#" class="project-text">
          <h4>Painikepeli</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </a>
      </div>
  </div>
  <div class="project-wrap project-wrap-reverse">
      <div class="project project">
        <div class="project-img project-img-four"></div>
        <a href="#" class="project-text">
          <h4>Fenno Optiikka</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </a>
      </div>
  </div>
</div>
<hr />
{% include footer.html %}
